/*** Encabezado ******/
header {
    background-color: #000000;
    color: white;
    width: 100%;
    display: flex;
}

header > img{
    width: 35px;
    height: 35px;
    margin: 10px;
    
}

header > h3 {
    margin: 10px;
}

/****** main *******/
.main{
    width: 100%;
    height: 50%;
    border: 2px solid rgb(27, 27, 70);
}
.container{
    padding: 40px;
}
.divEmpty > .alert{
    padding: 10px;
    margin: 10px 30px;
    width: 90%;
}

.div-search{
    border: none;
    margin: 40px 30px;
    padding: 20px;
    background-color: #e2e2e2;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
}
.div-search > h2{
    margin-left: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.div-search > p {
    margin-bottom: 10px;
}

.input-group > input{
    max-width: 450px;
}

.input-group button:hover{
    cursor: pointer;
    opacity: 0.7;
}

/*Video*/
.div-Video{
    width: 100%;
    height: 440px;
    padding: 10px;
}

.listaPlaylist{
    width: 100%;
    height: 440px;
    padding: 10px;
    margin-bottom: 20px;
}

.contenidolista{
    width: 95%;
    height: 400px;
    padding: 10px;
    margin: 10px;
    border: none;
    overflow: auto;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);

}

.contenidolista > a {
    text-decoration: none;
}

.cancion{
    width: 90%;
    display: flex;
    padding: 5px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #e2e2e2;
    border-radius: 5px;
    border: none;
}

.cancion:hover{
    cursor: pointer;
    opacity: 0.9;
    background-color: #000000;
    color: white;
}



.cancion img{
    width: 70px;
    height: 70px;
    margin: 15px;
}

.info{
    width: 80%;
    padding: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.alert > .notFound404{
    padding: 10px;
    margin: 10px 20px;
    width: 90%;
}


/******* Footer ******/
footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
}
